/* Reset default browser styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #004d40;
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    color: #3e2723;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

header {
    background-color: #004d40;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

/* Add more CSS for nav, sections, and footer as needed */

/* Mobile-first approach: Add media queries for larger screens */
@media (min-width: 768px) {
    /* CSS for screens with a minimum width of 768px */
}
